# REGEX

A Regular Expression specifies a set of strings that matches it.We import the regex library as 

                   
                             import re

### Meta characters 
       This are the patterns used to match Character Combination in the strings.
                 [],.,\,^,$,*,+,{},|,(),?

1) [] ---> A set of characters

2) .  ---> Any character (except new line character)

3) \  ---> Signals a Special Sequence(Can also be used to escape special characters)

4) ^  ---> Starts with

5) $  ---> Ends with

6)  * ---> Zero or more Occurances

7)  + ---> one or more occurances

8) {} ---> exactly the specified no of occurances

9) () ---> Capture and Group

10) | ---> Either or Start of Alternative brach

## Character Classes
         It is a set of Characters kept in Square Bracket.The regex engine matches only one out of several characters in the character set.



1) [a-z]         ---> Matches a Single Alphabet between 'a' and 'z'(which are in lower cases)

2) [A-Z]         ---> Matches a Single Alphabet between 'A' and 'Z'(which are in upper cases)

3) [0-9]         ---> Matches a Single Digit between '0' and '9'

4) [a-zA-Z0-9_]  ---> Matches only Alphanumerical Characters

5) [^a-zA-Z0-9_] ---> Matches all characters except Alphanumeric characters

##User Defined Classes


1) \A ---> Returns a match if the specified characters are at the beginning of the string

2) \b ---> Returns a match if the specified characters are at the beginning or at the end of the string

3) \B ---> Returns a match if the specified characters are present but not at the beginning/Ending of the string

4) \d ---> Returns a match where the string Contains digits

5) \D ---> Returns a match where the string doesn't contain digits

6) \s ---> Returns a match where the string contains white space character

7) \S ---> Returns a match where the string doesn't contains white space character

8) \w ---> Returns a match where the string contains any word characters, digits and Underscore(_)

9) \W ---> Returns a match where the string doesn't contains any word characters, digits and underscore(_)

10) \z --> Returns a match if the specified characters are at the end of the string

11) \n --> Returns a match of a line-feed(new line) character

# **re.finditer()**

In [2]:
import re

In [3]:
match= re.finditer('a+','aaaaaaaaabbbbbaaaajklaaaa')
for i in match:
  print(i)
  print(i.group(), i.start(), i.end())
  print('\t')

<re.Match object; span=(0, 9), match='aaaaaaaaa'>
aaaaaaaaa 0 9

<re.Match object; span=(14, 18), match='aaaa'>
aaaa 14 18

<re.Match object; span=(21, 25), match='aaaa'>
aaaa 21 25

In [4]:
t=[1,2,3,4, True]
print(type(t))
for i in t:
  print(type(i))

<class 'list'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>

In [5]:
matcherrr=re.finditer('ab','abaabaaba')
count=0
print(type(matcherrr))
print('\n')
for i in matcherrr:
  print('match is at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  print(type(i))
  count+=1
print('\n')
print('the no of matches is:', count)

<class 'callable_iterator'>


match is at:0, ends at:2, pattern:ab
<class 're.Match'>
match is at:3, ends at:5, pattern:ab
<class 're.Match'>
match is at:6, ends at:8, pattern:ab
<class 're.Match'>


the no of matches is: 3

In [6]:
#[a-z] ---> Matches only lower case alphabets(a-z)

matcher=re.finditer('[a-z]','ab_ef gh@ij#kl124kl 35')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a
starts at:1, ends at:2, pattern:b
starts at:3, ends at:4, pattern:e
starts at:4, ends at:5, pattern:f
starts at:6, ends at:7, pattern:g
starts at:7, ends at:8, pattern:h
starts at:9, ends at:10, pattern:i
starts at:10, ends at:11, pattern:j
starts at:12, ends at:13, pattern:k
starts at:13, ends at:14, pattern:l
starts at:17, ends at:18, pattern:k
starts at:18, ends at:19, pattern:l

the total no of matches is: 12

In [7]:
#[^a-z] ---> Matches all characters except Lower case Alphabets(a-z)

matcher=re.finditer('[^a-z]','ab_ef gh@ij#kl124kl 35')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:2, ends at:3, pattern:_
starts at:5, ends at:6, pattern:
starts at:8, ends at:9, pattern:@
starts at:11, ends at:12, pattern:#
starts at:14, ends at:15, pattern:1
starts at:15, ends at:16, pattern:2
starts at:16, ends at:17, pattern:4
starts at:19, ends at:20, pattern:
starts at:20, ends at:21, pattern:3
starts at:21, ends at:22, pattern:5

the total no of matches is: 10

In [8]:
#\s ---> Matches only Spaces

matcher=re.finditer('\s','ab_ef gh@ij#kl124kl 35')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:5, ends at:6, pattern:
starts at:19, ends at:20, pattern:

the total no of matches is: 2

In [9]:
#\S ---> It matches with all characters except Spaces

matcher=re.finditer('\S','ab_ef gh@ij#kl124kl 35')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a
starts at:1, ends at:2, pattern:b
starts at:2, ends at:3, pattern:_
starts at:3, ends at:4, pattern:e
starts at:4, ends at:5, pattern:f
starts at:6, ends at:7, pattern:g
starts at:7, ends at:8, pattern:h
starts at:8, ends at:9, pattern:@
starts at:9, ends at:10, pattern:i
starts at:10, ends at:11, pattern:j
starts at:11, ends at:12, pattern:#
starts at:12, ends at:13, pattern:k
starts at:13, ends at:14, pattern:l
starts at:14, ends at:15, pattern:1
starts at:15, ends at:16, pattern:2
starts at:16, ends at:17, pattern:4
starts at:17, ends at:18, pattern:k
starts at:18, ends at:19, pattern:l
starts at:20, ends at:21, pattern:3
starts at:21, ends at:22, pattern:5

the total no of matches is: 20

In [10]:
#\w ---> Matches with Alphanumeric values(A-Z,a-z,0-9,_)

matcher=re.finditer('\w','ab_ef gh@ij#kl124kl 35')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a
starts at:1, ends at:2, pattern:b
starts at:2, ends at:3, pattern:_
starts at:3, ends at:4, pattern:e
starts at:4, ends at:5, pattern:f
starts at:6, ends at:7, pattern:g
starts at:7, ends at:8, pattern:h
starts at:9, ends at:10, pattern:i
starts at:10, ends at:11, pattern:j
starts at:12, ends at:13, pattern:k
starts at:13, ends at:14, pattern:l
starts at:14, ends at:15, pattern:1
starts at:15, ends at:16, pattern:2
starts at:16, ends at:17, pattern:4
starts at:17, ends at:18, pattern:k
starts at:18, ends at:19, pattern:l
starts at:20, ends at:21, pattern:3
starts at:21, ends at:22, pattern:5

the total no of matches is: 18

In [11]:
#\W ---> Matches with all characters except Alphanumeric values(A-Z,a-z,0-9,_)

matcher=re.finditer('\W','ab_ef gh@ij#kl124kl 35')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:5, ends at:6, pattern:
starts at:8, ends at:9, pattern:@
starts at:11, ends at:12, pattern:#
starts at:19, ends at:20, pattern:

the total no of matches is: 4

In [12]:
# ^a ---> string starts with 'a'

matcher=re.finditer('^a','ab_efl gh@i#l4l')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a

the total no of matches is: 1

In [13]:
# l$ ---> string ends with 'a'

matcher=re.finditer('l$','ab_efl gh@i#l4l')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:14, ends at:15, pattern:l

the total no of matches is: 1

In [14]:
# a ---> Matches exactly 1 'a'

matcher=re.finditer('^a','abaababa')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a

the total no of matches is: 1

In [15]:
# a+ ---> Matches with 1 or more 'a'

matcher=re.finditer('a+','abaababa')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a
starts at:2, ends at:4, pattern:aa
starts at:5, ends at:6, pattern:a
starts at:7, ends at:8, pattern:a

the total no of matches is: 4

In [16]:
# a* ---> Matches with 0 or more 'a'

matcher=re.finditer('a*','abaababa')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a
starts at:1, ends at:1, pattern:
starts at:2, ends at:4, pattern:aa
starts at:4, ends at:4, pattern:
starts at:5, ends at:6, pattern:a
starts at:6, ends at:6, pattern:
starts at:7, ends at:8, pattern:a
starts at:8, ends at:8, pattern:

the total no of matches is: 8

In [17]:
# a? ---> Matches exactly 0 or 1 'a'

matcher=re.finditer('a?','abaababa')
count=0
for i in matcher:
  print('starts at:{}, ends at:{}, pattern:{}'.format(i.start(),i.end(),i.group()))
  count+=1
print('\t')
print('the total no of matches is:',count)

starts at:0, ends at:1, pattern:a
starts at:1, ends at:1, pattern:
starts at:2, ends at:3, pattern:a
starts at:3, ends at:4, pattern:a
starts at:4, ends at:4, pattern:
starts at:5, ends at:6, pattern:a
starts at:6, ends at:6, pattern:
starts at:7, ends at:8, pattern:a
starts at:8, ends at:8, pattern:

the total no of matches is: 9

#**re.match()**

In [18]:
# re.amtch() is Used to match the given pattern at the begining of the string

import re
pattern=input('Enter pattern\t')
m=re.match(pattern, 'bcdef')
print(type(m))
print('\t')
if m==None:
  print('Match is not avilable at the beginning of the string')
else:
  print('Match is at:{}, ends at:{}, pattern:{}'.format(m.start(),m.end(),m.group()))

Enter pattern	cd
<class 'NoneType'>

Match is not avilable at the beginning of the string

# **re.search()**

In [19]:
# re.search is used to match the given pattern in the string and prints only the first occured pattern.

import re
pattern=input('Enter pattern\t')
m=re.search(pattern, 'abcdbcef')
print(type(m))
print('\t')
if m==None:
  print('Match is not avilable at the beginning of the string')
else:
  print('Match is at:{}, ends at:{}, pattern:{}'.format(m.start(),m.end(),m.group()))

Enter pattern	cd
<class 're.Match'>

Match is at:2, ends at:4, pattern:cd

#**re.search()  vs re.match()**

In [20]:
# Comparing both methods

target='Lions and tigers are among the most ferocious animals'
pattern='tigers'
# ---> re.match()
m=re.match(pattern,target)
if m == None:
  print('Match is not available --->re.match() method')
else:
  print('Pattern is found in the Target --->re.match() method')

# ---> re.search()
print('\t')
m=re.search(pattern,target)
if m == None:
  print('Match is not available --->re.search() method')
else:
  print('Pattern is found in the Target --->re.search() method')

Match is not available --->re.match() method

Pattern is found in the Target --->re.search() method

# **re.findall()**

In [21]:
#  Find all matches and returns a List

lst=re.findall('[0-9]','a@12bcd#4fd')

print(lst)

['1', '2', '4']

#**re.findall() vs re.finditer()**

In [22]:
# finditer is a callable type so we need to iterate to get the matches. 
# but findall will directly returns  the matches in a list

target='a@12bcd#4fd'

# ---> re.findall()
lst=re.findall('[0-9]',target)
print('Using re.findall() --->',lst)
print('\t')

#---> re.finditer()
match= re.finditer('[0-9]',target)
print('Using re.findall()')
for i in match:
  print(i.group())

Using re.findall() ---> ['1', '2', '4']

Using re.findall()
1
2
4

In [23]:
# printing the unique values (remove duplicates)

target='abcabcbcaabclmzxyfghdjjd'
match=re.findall('[a-zA-Z0-9_.]',target)
print(set(match))

{'x', 'a', 'd', 'c', 'l', 'm', 'h', 'b', 'y', 'f', 'g', 'z', 'j'}

#**Search and Replace**

In [24]:
# It will search the pattern and replace at that pattern

#re.sb(pattern,replacement,targetstring)

m=re.sub('\d','#','a667bc67%%kj*87kj')  # \d matches only digits
print(m)

a###bc##%%kj*##kj

In [28]:
phone='1234-5678-9012 # This is a phone number'
print('Phone Number is ',phone)

number=re.sub('#.*$','%',phone)   # (#.*$')--->starts with # and matches with any character except new line(.* --> means 0 or more *) and $ means from the ending of the line. 
print('Phone Number is ',number)

phone_number=re.sub('\D', '' , phone)      #\D ---> Matches will all Characters except DIGITS. 
print('Phone Number is ', phone_number)

Phone Number is  1234-5678-9012 # This is a phone number
Phone Number is  1234-5678-9012 %
Phone Number is  123456789012

# **re.split()**

Split method is used to split the words based on the pattern

In [29]:
split=re.split('-','Lions-And-Tigers-Are-Dangerous')
print(split)

['Lions', 'And', 'Tigers', 'Are', 'Dangerous']

In [31]:
split=re.split('\W','abcdefg@gmail.com') # \W ---> matches all except alphanumeric 
print(split)

['abcdefg', 'gmail', 'com']

In [30]:
split=re.split('.','www.facebook.com') #Matches with everything except New Line.
print(split)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [32]:
split=re.split('[.]','www.facebook.com') 
print(split)

['www', 'facebook', 'com']